html body{
	padding: 0px;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #f6f7f8;
}
header{
	box-shadow: 5px 1px 5PX #aaa;
	width: 100%;
	height: 90px;
	background-color: #f6f7f8;

}

.bts a{
	text-decoration: none;
	color: #222;
}

.bts a:hover{
	text-decoration: none;
	color: #222;
}

.bts{
	border: 1æpx solid #000;
	position: relative;
}

#hR{
	margin-right:0px;
}

#cab{
	margin-right: 35px;

}

.linka{
	background-color: transparent;
	border:none;
	height: 100%;
	border-radius: 0.3rem;
	font-size: 18px;
	padding:16px;
	transition: 0.2s;
}

.linka:hover{
	border:1px solid #016536;
	color:#000;
}

.main{
	color: #222;
	margin:0px;
	position: relative;
	left: 2%;
}

#log{
	height: 85px;
}

#art{
	margin-right: 16px;
}

#pag{
	display: block;
	align-items: center;
	justify-content: center;
	background-color: #f6f7f8;
	margin-top:30px;
	flex: 1	;

}

.btns{
	color:#222;
	margin-left: auto;
	margin-right: auto;
	transition: 0.1s;
	margin-bottom: 5px;
}

.btns:hover{
	background-color: #016536;
	color:#eee;
	text-decoration: none;
}

p{
	color:#222;
	text-align: center;
	font-size: 18px;;
}

.imgG{
	background-color: #f6f7f8;
	width: 40%;
}

select{
	border: none;
	background-color: transparent;
	height: 50px;
	display: none;
	border-radius: 0.8rem;
}

option{
	font-size:0px;
	padding:10px;
}

#btns{
	display:flex;
	margin-top: 35px;
}

#cab {
	position: relative;
}


@media(max-width:850px){
	.te{
		font-size: 32px;
	}
	.btns{
		height: 50px;
	}

	header{
		height: 10%;
	}
}
